* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  h1 {
    font-family: "UoqMunThenKhung", serif;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 0.15rem;
  }

  .score-display {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fbe512;

    span {
      font-weight: 600;
    }
  }
}

.lower {
  width: 100%;
  height: 100%;
  background: #0596ef;
  position: relative;

  .bg-circle {
    background: #12a9fa;
    // background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border: 5px solid #0595ef1b;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

main {
  width: 100%;
  .container1 {
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    .timer-display {
      font-weight: 600;
      font-size: 1.4rem;
      border: 7px solid #fbe512;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      color: #fbe512;
    }
  }

  .container2 {
    width: 100%;
    height: 75vh;
    padding: 0.8rem;
    position: relative;

    .movingBox {
      width: 5.5rem;
      height: 3.2rem;
      overflow: hidden;
      cursor: pointer;
      background: #edb169;
      padding: 0.1rem;
      position: absolute;
    //   display: none;
    transition: all 0.2s ease;
    z-index: 2;
    user-select: none;
      img {
        object-fit: cover;
        object-position: 0% 60%;
        height: 80%;
        width: 90%;
        background: #fd3e3c;
      }
    }
    .movingBox:active {
        scale: 0.90;
    }
  }

  .btn-div {
      display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  }
  .btn {
    background: #FC3A3A;
    color: whitesmoke;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .btn:active {
    scale: 0.95;
  }
}
