* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(227, 66, 165) 11%, rgb(49, 197, 223) 91%);
  /*main style*/
  display: flex;
  justify-content: space-between;
  font-family: "TikTok Sans", sans-serif;
}

.contianer {
  padding: 0.5rem;
}

.mood-container {
  margin: 0.8rem 0.8rem 0.8rem 1.3rem;
  background: linear-gradient(176deg, rgb(248, 219, 81) 16%, rgb(244, 141, 64) 32%, rgb(230, 86, 85) 47%, rgb(28, 133, 189) 64%, rgb(59, 66, 196) 80%, rgb(88, 33, 187) 96%);
  width: 13%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.mood-container .mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgb(212, 215, 220);
  cursor: pointer;
}
.mood-container .mood i {
  font-size: 3rem;
  color: rgb(255, 250, 250);
}
.mood-container .mood .mood-text {
  color: white;
}
.mood-container .mood .relaxed-icon {
  color: #00d580;
}
.mood-container .mood .angry-icon {
  color: rgba(255, 255, 255, 0.696);
}

.text-container {
  background: rgba(14, 13, 13, 0.231372549);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.text-container p {
  color: white;
  font-size: 1.8rem;
}
.text-container #post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text-container #post-form .input-box {
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  background: transparent;
  color: white;
  border: 0.2rem solid white;
  width: 100%;
}
.text-container #post-form button {
  background: #6140e9;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.4rem;
  width: 50%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.text-container #post-form button:active {
  scale: 0.9;
}

.note-board {
  background: transparent;
  width: 60%;
  position: relative;
  overflow: hidden;
}
.note-board .note-page {
  position: absolute;
  background: #ebc402;
  width: 10rem;
  height: 13rem;
  padding: 0.8rem 0.5rem;
  font-size: 1.3rem;
  box-shadow: 3px 3px 10px 1px rgb(110, 90, 0);
  rotate: 354deg;
  overflow: hidden;
  color: #333;
  cursor: grab;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
}
.note-board .note-page .emoji {
  font-size: 3rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
  filter: drop-shadow(1px 1px 20px rgb(70, 54, 2));
}
.note-board .note-page .delete-btn {
  position: absolute;
  top: 2px;
  right: 3px;
  border: none;
  background: #f33;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  z-index: 1000;
}
.note-board .note-page:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}
.note-board footer {
  position: absolute;
  bottom: 0.5%;
  right: 1%;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mood-container {
    background: linear-gradient(90deg, rgb(248, 219, 81) 16%, rgb(244, 141, 64) 32%, rgb(230, 86, 85) 47%, rgb(28, 133, 189) 64%, rgb(59, 66, 196) 80%, rgb(88, 33, 187) 96%);
    flex-direction: row;
    width: 92%;
  }
  .mood-container .mood i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  .text-container {
    width: 100%;
    gap: 0.8rem;
  }
  .text-container p {
    font-size: 1rem;
  }
  .text-container #post-form {
    flex-direction: row;
  }
  .text-container #post-form .input-box {
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    background: transparent;
    color: white;
    border: 0.2rem solid white;
    width: 100%;
  }
  .text-container #post-form button {
    font-size: 1rem;
  }
  .note-board {
    width: 100%;
    height: 80%;
  }
  .note-board .note-page {
    width: 13rem;
    height: 10rem;
  }
}/*# sourceMappingURL=style.css.map */